{% extends 'website/base.html' %}

{% block custom_css %}
<style>

  table {
    -webkit-box-shadow: 0px 2px 5px 2px rgba(168,168,168,1);
    -moz-box-shadow: 0px 2px 5px 2px rgba(168,168,168,1);
    box-shadow: 0px 2px 5px 2px rgba(168,168,168,1);
    margin-top: 50px;
  }
  .heading {
    background-color: black;
    color: white;
    text-align: center;
  }
  .btn-container {
    background-color: #ddd;
  }
  .center {
    text-align: center;
  }
  .fa-plus {
  color white;
  margin-left: 15px;
}
.fa-trash-alt {
  float: right;
  position: relative;
  top: 2px;
  font-size: 25px;
}
h5 {
  text-align:center;
}

</style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
        <table id="proposal-table" class="table">
          <thead>
        <tr>
          <th colspan="5" class="heading">
            <h2>
              Open Proposals
              <i class="fas fa-plus" href="{% url 'proposal:add_proposal' %}"></i>
            </h2>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th>Name</th>
            <th>Date Added</th>
            <th class="center" colspan="2" >Vote(Y/N)</th>
          </tr>
          {% for proposal in open_proposals %}
            <tr id="row-{{proposal.pk}}">
              <td><a href="{% url 'proposal:view_proposal' proposal.pk %}">{{ proposal.name }}</a></td>
              <td>{{ proposal.date_added|date:"M d"}}</td>
              <td>
                <i class="btn btn-success vote" href="{% url 'proposal:vote_proposal' pk=proposal.pk vote='Yes' %}">Yes</i>
                </td>
              <td>
                <i class="btn btn-danger vote" href="{% url 'proposal:vote_proposal' pk=proposal.pk vote='No' %}">No</i>
                </td>
              <td>
              <i id="{{proposal.pk}}" class="far fa-trash-alt" href="{% url 'proposal:delete_proposal' proposal.pk %}"></i>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
        <table id="proposal-table" class="table">
          <thead>
        <tr>
          <th colspan="5" class="heading">
            <h2>
              Ready to Revise Proposals
            </h2>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th>Name</th>
            <th>Date Added</th>
            <th class="center">Revised?</th>
          </tr>
          {% for proposal in ready_to_revise_proposals %}
            <tr id="row-{{proposal.pk}}">
              <td><a href="{% url 'proposal:view_proposal' proposal.pk %}">{{ proposal.name }}</a></td>
              <td>{{ proposal.date_added|date:"M d"}}</td>
              <td>
                <i class="btn btn-success revised" href="{% url 'proposal:revise_proposal' pk=proposal.pk %}">Ready to Send</i>
                </td>
              <td>
              <i id="{{proposal.pk}}" class="far fa-trash-alt" href="{% url 'proposal:delete_proposal' proposal.pk %}"></i>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
        <table id="proposal-table" class="table">
          <thead>
        <tr>
          <th colspan="5" class="heading">
            <h2>
              Ready to Send Proposals
            </h2>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th>Name</th>
            <th>Date Added</th>
            <th class="center">Send?</th>
          </tr>
          {% for proposal in ready_to_send_proposals %}
            <tr id="row-{{proposal.pk}}">
              <td><a href="{% url 'proposal:view_proposal' proposal.pk %}">{{ proposal.name }}</a></td>
              <td>{{ proposal.date_added|date:"M d"}}</td>
              <td>
                <i class="btn btn-success send" href="{% url 'proposal:send_proposal' pk=proposal.pk %}">Send</i>
                </td>
              <td>
              <i id="{{proposal.pk}}" class="far fa-trash-alt" href="{% url 'proposal:delete_proposal' proposal.pk %}"></i>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
        <a class="btn btn-success col-12" href="{% url 'proposal:sent_proposals' %}">View Sent Proposals</a>
      </div>
  </div>
  {% endblock content %}

{% block js %}
<script>
//------------------------------------------------------
// Add a Proposal
$('.fa-plus').click(function() {
  window.location.href = $(this).attr('href');
});
// vote on a proposal
$('.vote').click(function() {
  var id = $(this).attr('id');
  if(confirm("Confirm you would like to vote on this propsoal")) {
    $.get($(this).attr('href'), {}, function(data) {
      if(data.success) {
        alert("Successfly voted!");
        location.reload();
      }
      else {
        console.log("Could not vote on this proposal at this time!");
      }
    });
  }
});
// Mark a proposal as ready to send
$('.revised').click(function() {
  var id = $(this).attr('id');
  if(confirm("Confirm this proposal is ready to send")) {
    $.get($(this).attr('href'), {}, function(data) {
      if(data.success) {
        alert("Successfly revised!");
        location.reload();
      }
      else {
        console.log("Could not update this proposal at this time!");
      }
    });
  }
});
// send a proposal
$('.send').click(function() {
  var id = $(this).attr('id');
  if(confirm("Confirm this proposal has been sent")) {
    $.get($(this).attr('href'), {}, function(data) {
      if(data.success) {
        alert("Successfly sent!");
        location.reload();
      }
      else {
        console.log("Could not update this proposal at this time!");
      }
    });
  }
});
// Delete a Proposal
$('.fa-trash-alt').click(function() {
  var id = $(this).attr('id');
  if(confirm("Are you sure you want to delete this proposal?")) {
    $.get($(this).attr('href'), {}, function(data) {
      if(data.deleted) {
        $('#proposal-table #row-' + id).remove();
      }
      else {
        console.log("Could not delete proposal at this time!");
      }
    });
  }
});
//------------------------------------------------------
</script>
{% endblock js %}
