{% extends 'website/base.html' %}

{% block custom_css %}
<style>

  table {
    -webkit-box-shadow: 0px 2px 5px 2px rgba(168,168,168,1);
    -moz-box-shadow: 0px 2px 5px 2px rgba(168,168,168,1);
    box-shadow: 0px 2px 5px 2px rgba(168,168,168,1);
    margin-top: 50px;
  }
  .heading {
    background-color: black;
    color: white;
    text-align: center;
  }
  .btn-container {
    background-color: #ddd;
  }
  .center {
    text-align: center;
  }
  .fa-plus {
  color white;
  margin-left: 15px;
}
.fa-trash-alt {
  float: right;
  position: relative;
  top: 2px;
  font-size: 25px;
}
h5 {
  text-align:center;
}

</style>
{% endblock custom_css %}

{% block content %}
{% include 'website/server_messages.html' %}
<div class="row">
  <div class="col-sm-10 offset-sm-1">
      <table id="proposal-table" class="table">
        <thead>
      <tr>
        <th colspan="5" class="heading">
          <h2>
            Sent Proposals
          </h2>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Name</th>
          <th>Date Added</th>
          <th colspan="2">Status</th>
        </tr>
        {% for proposal in sent_proposals %}
          <tr id="row-{{proposal.pk}}">
            <td><a href="{% url 'proposal:view_proposal' proposal.pk %}">{{ proposal.name }}</a></td>
            <td>{{ proposal.date_added|date:"M d"}}</td>
            <td>
              <a class="btn btn-success status" href="{% url 'proposal:update_proposal_status' pk=proposal.pk status='accepted' %}">Accepted</a>
              <a class="btn btn-danger status" href="{% url 'proposal:update_proposal_status' pk=proposal.pk status='rejected' %}">Rejected</a>
          </td>
            <td>
            <i id="{{proposal.pk}}" class="far fa-trash-alt" href="{% url 'proposal:delete_proposal' proposal.pk %}"></i>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
<div class="row">
  <div class="col-sm-10 offset-sm-1">
      <table id="proposal-table" class="table">
        <thead>
      <tr>
        <th colspan="5" class="heading">
          <h2>
            Accepted Proposals
          </h2>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Name</th>
          <th>Date Added</th>
          <th >Status</th>
        </tr>
        {% for proposal in accepted_proposals %}
          <tr id="row-{{proposal.pk}}">
            <td><a href="{% url 'proposal:view_proposal' proposal.pk %}">{{ proposal.name }}</a></td>
            <td>{{ proposal.date_added|date:"M d"}}</td>
            <td>
              {{ proposal.status }}
          </td>
            <td>
            <i id="{{proposal.pk}}" class="far fa-trash-alt" href="{% url 'proposal:delete_proposal' proposal.pk %}"></i>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
<div class="row">
  <div class="col-sm-10 offset-sm-1">
      <table id="proposal-table" class="table">
        <thead>
      <tr>
        <th colspan="5" class="heading">
          <h2>
            Rejected Proposals
          </h2>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th>Name</th>
          <th>Date Added</th>
          <th >Status</th>
        </tr>
        {% for proposal in rejected_proposals %}
          <tr id="row-{{proposal.pk}}">
            <td><a href="{% url 'proposal:view_proposal' proposal.pk %}">{{ proposal.name }}</a></td>
            <td>{{ proposal.date_added|date:"M d"}}</td>
            <td>
              {{ proposal.status }}
          </td>
            <td>
            <i id="{{proposal.pk}}" class="far fa-trash-alt" href="{% url 'proposal:delete_proposal' proposal.pk %}"></i>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
//------------------------------------------------------
// change a proposals status
$('.status').click(function(){
  var status = $(this).attr('value');
  if(confirm("Confirm you want to update this proposal's status")) {
    $.get($(this).attr('href'), {}, function(data) {
      if(data.success) {
        alert("Successfly updated proposal status!");
        location.reload();
      }
      else {
        console.log("Could not update this proposal at this time!");
      }
    });
  }
});
//------------------------------------------------------
</script>
{% endblock js %}
