.primary{
  color: lightYellow ;
  background-color: red;
}

.primary:focus, .my-primary:hover{
  color: yellow ;
  background-color: darkRed;
}

a.navbar-brand {
  color: lightYellow ;
}

.navbar-brand:hover{
  color: yellow;
}

:root {
  --main-color: black;
  --secondary-color: #08f;
  --container-corner-radius: 10px;
  --title-size: 25px;
}

.navbar-dark, .bg-dark{
  background-color: black !important;
}

.fa:hover, .far:hover, .fas:hover {
  cursor: pointer;
}
